/*HEADER: MENU DE NAVEGACION*/
header{
    .contenedor-menu{
        width: 100%;
        background-color: rgb(0, 0, 0);
    }
    .logo-colabo{
        width: 40%;
    }
    .contenedor-menu ul{
        font-size: 20px;
		color:$color1;
		margin: 10px;
    }
}