/*HEADER: MENU DE NAVEGACION*/

header{

    .contenedor-menu{
        width: 100%;
      margin: auto;
      padding: 0px;
    }
    .logo-colabo{
        width: 75%;
        margin: auto;
        padding: 20px;
        &:hover{
            width: 68%;
        }
    }
    .contenedor-menu ul{
        font-size: 20px;
		color:$color1;
		margin: 20px;
        &:hover{
            color:aqua;
        }
        li{
            margin: auto;
            padding: 5px;
            transition: 2s;
            &:hover{
                font-size: 25px;
                text-transform: uppercase;
                text-decoration:line-through;
            }
            a{
                margin: auto;
                padding: 10px;

            }
        }
    }
}