$color1:white;
$color2:rgb(0,0,0);
$color3:rgb(197,197,197);
$colordefondo:linear-gradient(to bottom, #000000, #434343);
$colordefondo2:black;
$colordefondo3:rgb(17,14,14);
$fuente:monospace;
$tamañotituloP:80px;
$tamañosubtitulo:40px;
$tamañodescripcion:23px;
$titulomobile:40px;
$subtitulomobile:25px;
$descripcionmobile:15px;
$titulotablet:60px;
$subtitulotablet:40px;
$descripciontablet:25px;